<ion-content class="infos-perso-content">
  <div class="main-container">

    <h2 class="page-title">Mes informations personnelles</h2>

    <div class="form-container">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="6" class="ion-padding-end">
            <label>Prénom</label>
            <ion-item lines="none" class="custom-input">
              <ion-input type="text" placeholder="Prénom" [(ngModel)]="user.prenom"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <label>Nom</label>
            <ion-item lines="none" class="custom-input">
              <ion-input type="text" placeholder="Nom" [(ngModel)]="user.nom"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="input-group">
        <label>Nom d'utilisateur</label>
        <ion-item lines="none" class="custom-input">
          <ion-input type="text" placeholder="Nom d'utilisateur" [(ngModel)]="user.username"></ion-input>
        </ion-item>
      </div>

      <div class="input-group">
        <label>Email</label>
        <ion-item lines="none" class="custom-input">
          <ion-input type="email" placeholder="Email" [(ngModel)]="user.email"></ion-input>
        </ion-item>
      </div>

      <div class="input-group">
        <label>Classe</label>
        <ion-item lines="none" class="custom-input">
          <ion-input type="text" placeholder="Classe" [(ngModel)]="user.classe"></ion-input>
        </ion-item>
      </div>

      <ion-button expand="block" class="btn-update" (click)="updateProfile()">
        Mettre à jour
      </ion-button>
    </div>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="tab-bar">
      <ion-icon name="book-outline" class="tab-icon" (click)="router.navigate(['/liste-matiere'])"></ion-icon>
      <ion-icon name="ribbon-outline" class="tab-icon" (click)="router.navigate(['/abonnement'])"></ion-icon>
      <ion-icon name="person-outline" class="tab-icon active"></ion-icon>
    </div>
  </ion-toolbar>
</ion-footer>
