<ion-content class="profile-content" [fullscreen]="true">
  <div class="profile-page">
    <div class="profile-card">
      <section class="top-actions">
        <button class="icon-button back" type="button" (click)="router.navigate(['/compte'])">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </button>

        <div class="mini-icon">
          <ion-icon name="document-text-outline"></ion-icon>
        </div>

        <button class="profile-chip" type="button" (click)="router.navigate(['/compte'])">
          <span>Mon profil</span>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </button>
      </section>

      <section class="heading">
        <h1>Mes informations <span>personnelles.</span></h1>
        <p>Mets a jour tes infos pour personnaliser ton experience d'apprentissage.</p>
      </section>

      <section class="form-shell">
        <div class="avatar-wrap">
          <div class="avatar-main">
            <ion-icon name="school-outline"></ion-icon>
          </div>
          <span class="avatar-add">
            <ion-icon name="add-outline"></ion-icon>
          </span>
        </div>

        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="6" class="ion-padding-end">
              <label for="prenom">PRENOM</label>
              <ion-item lines="none" class="custom-input">
                <ion-input id="prenom" type="text" placeholder="Lea" [(ngModel)]="user.prenom"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="6">
              <label for="nom">NOM</label>
              <ion-item lines="none" class="custom-input">
                <ion-input id="nom" type="text" placeholder="Martin" [(ngModel)]="user.nom"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="input-group">
          <label for="username">NOM D'UTILISATEUR</label>
          <ion-item lines="none" class="custom-input">
            <ion-input id="username" type="text" placeholder="@lea.martin" [(ngModel)]="user.username"></ion-input>
          </ion-item>
        </div>

        <div class="input-group">
          <label for="email">EMAIL</label>
          <ion-item lines="none" class="custom-input">
            <ion-input id="email" type="email" placeholder="lea@email.com" [(ngModel)]="user.email"></ion-input>
          </ion-item>
        </div>

        <div class="input-group">
          <label for="classe">CLASSE</label>
          <ion-item lines="none" class="custom-input">
            <ion-input id="classe" type="text" placeholder="Terminale S" [(ngModel)]="user.classe"></ion-input>
          </ion-item>
        </div>

        <ion-button expand="block" class="btn-update" (click)="updateProfile()">
          <span>Mettre a jour mon profil</span>
          <span class="button-icon">
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </span>
        </ion-button>
      </section>
    </div>
  </div>
</ion-content>
