version: "3.9"

services:

  postgres:
    image: postgres:16
    container_name: postgres_db

    environment:
      POSTGRES_DB: skillnest
      POSTGRES_USER: skillnest_user
      POSTGRES_PASSWORD: skillnest_password

    ports:
    - "5440:5432"



    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin

    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin

    ports:
      - "5050:80"

    depends_on:
      - postgres

volumes:
  postgres_data:
