ion-content {
  --background: linear-gradient(180deg, #0f0f12, #1a1a1f);
}

/* Conteneur principal */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

/* Carte formulaire */
form {
  width: 50%;
  background: #000000;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
}

/* --------------------------------
   Layout des champs
---------------------------------- */

/* Groupe vertical standard */
.form-fields {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.border {
  background-color: #000000;
  border: 2px solid #69663E;
  border-radius: 10px;
}

.response_text {
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  form {
    width: 90%;
    padding: 16px;
  }

  .form-row {
    grid-template-columns: 1fr;
  }
}

/* --------------------------------
   Inputs – design unifié
---------------------------------- */

ion-item.input-item {
  --background: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;
  --border-width: 0;
  margin: 0;
}

ion-item.input-item ion-label {
  font-size: 30px;
  margin-bottom: 6px;
  color: #ffffff;
}

/* Input & Select */
ion-input.input-field,
ion-select.input-field {
  background: #1c1c1e;
  color: #ffffff;
  border-radius: 14px;
  border: 1px solid #4b5563;
  margin: 1% 0%;
}
/* --------------------------------
   Bouton principal
---------------------------------- */

ion-button[type="submit"] {
  --background: #8b5cf6;
  --background-activated: #6a4fe0;
  --border-radius: 14px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 24px;
}

ion-checkbox {
  --size: 32px;
  --checkbox-background-checked: #6815ec;
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid #6815ec;
}

/* --------------------------------
   Liens
---------------------------------- */

.links {
  margin-top: 16px;
  text-align: center;
}

.links ion-button {
  --color: rgba(255, 255, 255, 0.7);
  font-size: 0.85rem;
}

ion-radio::part(container) {
  width: 30px;
  height: 30px;

  border-radius: 8px;
  border: 2px solid #ddd;
}

ion-radio::part(mark) {
  background: none;
  transition: none;
  transform: none;
  border-radius: 0;
}

ion-radio.radio-checked::part(container) {
  background: #6815ec;
  border-color: transparent;
}

ion-radio.radio-checked::part(mark) {
  width: 6px;
  height: 10px;

  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #fff;

  transform: rotate(45deg);
}