<ion-header>
  <ion-toolbar>
    <ion-title>Terminale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="grid">
    <div
      class="card"
      *ngFor="let matiere of matieres"
      [style.background]="matiere.couleur"
    >

      <div class="icon">
        <!-- Remplacement de ion-icon par img -->
        <img [src]="matiere.icon" alt="{{ matiere.nom }}" class="matiere-icon" />
      </div>

      <div class="content">
        <h3>{{ matiere.nom }}</h3>

        <p>
          {{ matiere.leconsFaites }}/{{ matiere.leconsTotal }} leçons
          •
          {{ matiere.quizFaits }}/{{ matiere.quizTotal }} quiz
        </p>

        <p class="progress-text">
          Progression : {{ matiere.progression }} %
        </p>

        <ion-progress-bar
          [value]="matiere.progression / 100">
        </ion-progress-bar>
      </div>

    </div>
  </div>

</ion-content>
