<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Page fin quiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  <ion-card-content class="ion-text-center">

    <!-- Ici on applique margin-top "3" pour plus d'espace -->
    <p>
      Lorem ipsum dolor
    </p>
    <p class="ion-margin-bottom">Ce quiz contient X questions.</p>
    <p>Score requis: X%.</p>
    <p>Temps imparti: X min.</p>

    <ion-button expand="block" class="ion-margin-top">
      Recommencer le quizz
    </ion-button>

    <ion-button expand="block" class="ion-margin-top">
      Retour à l'accueil
    </ion-button>

  </ion-card-content>
</ion-card>


</ion-content>
