<ion-content [fullscreen]="true" class="home-page">

  <div class="home-card">

    <!-- Logo -->
    <img src="assets/icon/skillnest-logo.png" alt="Skillnest" class="logo" />

    <!-- Titre -->
    

    <!-- Texte de bienvenue -->
    <p class="welcome">Bienvenue sur Skillnest</p>
    <p class="subtitle">Choisissez votre profil</p>

    <!-- Boutons profil -->
    <div class="profile-buttons">
      <button class="profile-button student">
        <img src="assets/icon/student.png" alt="Étudiant" />
        <span>Etudiant</span>
      </button>

      <button class="profile-button parent">
        <img src="assets/icon/parent.png" alt="Parent" />
        <span>Parent</span>
      </button>
    </div>

  </div>

</ion-content>