<ion-content class="password-content">
  <div class="main-container">

    <h2 class="page-title">Mot de passe</h2>

    <div class="form-container">

      <div class="input-group">
        <label>Mot de passe actuel</label>
        <ion-item lines="none" class="custom-input">
          <ion-input type="password" placeholder="Mot de passe actuel" [(ngModel)]="passwordData.current"></ion-input>
        </ion-item>
      </div>

      <div class="input-group">
        <label>Nouveau mot de passe</label>
        <ion-item lines="none" class="custom-input">
          <ion-input type="password" placeholder="Nouveau mot de passe" [(ngModel)]="passwordData.new"></ion-input>
        </ion-item>
      </div>

      <div class="input-group">
        <label>Confirmer le nouveau mot de passe</label>
        <ion-item lines="none" class="custom-input">
          <ion-input type="password" placeholder="Ressaisir à nouveau le mot de passe" [(ngModel)]="passwordData.confirm"></ion-input>
        </ion-item>
      </div>

      <ion-button expand="block" class="btn-update" (click)="updatePassword()">
        Mettre à jour
      </ion-button>
    </div>

  </div>
</ion-content>

<ion-footer shadow="none">
  <ion-toolbar>
    <div class="tab-bar">
      <ion-icon name="book-outline" class="tab-icon" (click)="router.navigate(['/liste-matiere'])"></ion-icon>
      <ion-icon name="ribbon-outline" class="tab-icon" (click)="router.navigate(['/abonnement'])"></ion-icon>
      <ion-icon name="person-outline" class="tab-icon active"></ion-icon>
    </div>
  </ion-toolbar>
</ion-footer>
